.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.hero h1 {
  font-size: 4rem;
}

.hero span {
  color: #38bdf8;
}

.typing {
  font-size: 1.8rem;
  color: #06b6d4;
  margin: 20px 0;
}

.hero p {
  max-width: 600px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-image img {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;      /* Rectangle with rounded corners */
    border: 3px solid #38bdf8;
    box-shadow: 0 20px 50px rgba(56, 189, 248, 0.3);
    transition: 0.4s ease;
}

.hero-image img:hover {
    transform: scale(1.03);
}

@media(max-width:900px){
  .hero{
    flex-direction:column;
    text-align:center;
  }

  .hero h1{
    font-size:2.5rem;
  }

  
}